[[source]]
name = "pypi"
url = "http://pypi.douban.com/simple"
verify_ssl = false

[dev-packages]
pyinstaller = "*"
pylint = "*"
setuptools = ">=49.1.1"

[packages]
requests = "*"
mechanize = "*"
gooey = {file = "https://github.com/soleil0-0/Gooey/archive/1.0.5-release.zip"}

[requires]
python_version = "3.7"

[scripts]
dev = "sh -c \"set -ex; cp -v config.cfg.spec config.cfg; find . -name '*.py' -print0 | xargs -0 -I% sed -i'.bak' -e 's#https://tracker.dicmusic.club#http://pt.kshare.club:34000#g;s#https://dicmusic.club#http://x3078z8898.zicp.vip:7480#g' '%'; rm *.bak;\""
dev_undo = "sh -c \"git checkout config.cfg; find . -name '*.py' -print0 | xargs -0 -I% sed -i'.bak' -e 's#http://pt.kshare.club:34000#https://tracker.dicmusic.club#g;s#http://x3078z8898.zicp.vip:7480#https://dicmusic.club#g' '%'; rm *.bak;\""
gui_en = "python gs-gui-en.py"
gui_zh = "python gs-gui-zh.py"
cli = "python gs-cli.py --from red --to dic --album \"../2013 - The Best Of Keane - Deluxe Edition (FLAC)\" --link \"https://redacted.ch/torrents.php?torrentid=1012753\""
build_osx = "sh -c 'set -ex; [ ! -d dist ] || rm -rf dist; pyinstaller -i favicon.icns -w -F gs-gui-en.py --add-data \"favicon.icns:.\"; pyinstaller -i favicon.icns -w -F gs-gui-zh.py --add-data \"favicon.icns:.\"; pipenv run pyinstaller -i favicon.icns -F gs-cli.py; defaults write $PWD/dist/gs-gui-en.app/Contents/Info.plist NSHighResolutionCapable -string True; defaults write $PWD/dist/gs-gui-zh.app/Contents/Info.plist NSHighResolutionCapable -string True; cp -f config.cfg dist/config.cfg; cd dist; zip -r gs_darwin_amd64.zip config.cfg gs-cli gs-gui-en.app gs-gui-zh.app; rm gs-gui-en gs-gui-zh'"
build_win = "sh -c 'set -ex; [ ! -d dist ] || rm -rf dist; pyinstaller --hidden-import=pkg_resources.py2_warn -i favicon.ico -F gs-gui-en.py --add-data=\"favicon.ico;.\"; pyinstaller --hidden-import=pkg_resources.py2_warn -i favicon.ico -F gs-gui-zh.py --add-data=\"favicon.ico;.\"; pipenv run pyinstaller -i favicon.ico -F gs-cli.py; cp -f config.cfg dist/config.cfg; cd dist; 7z a gs_windows_amd64.zip config.cfg gs-cli.exe gs-gui-en.exe gs-gui-zh.exe'"
build_linux = "sh -c 'set -ex; [ ! -d dist ] || rm -rf dist; pyinstaller --hidden-import=pkg_resources.py2_warn -i favicon.ico -F gs-gui-en.py --add-data=\"favicon.ico:.\"; pyinstaller --hidden-import=pkg_resources.py2_warn -i favicon.ico -F gs-gui-zh.py --add-data=\"favicon.ico:.\"; pipenv run pyinstaller -i favicon.ico -F gs-cli.py; cp -f config.cfg dist/config.cfg; cd dist; zip -r gs_linux_amd64.zip config.cfg gs-cli gs-gui-en gs-gui-zh'"
