[[source]]
name = "pypi"
url = "http://pypi.douban.com/simple"
verify_ssl = false

[dev-packages]
pyinstaller = "*"

[packages]
requests = "*"
mechanize = "*"
pysimplegui = "*"

[requires]
python_version = "3.7"

[scripts]
gui = "python gs-gui-en.py"
cli = "python gs-cli.py --from red --to dic --album \"../2013 - The Best Of Keane - Deluxe Edition (FLAC)\" --link \"https://redacted.ch/torrents.php?torrentid=1012753\""
