[[source]]
name = "pypi"
url = "http://pypi.douban.com/simple"
verify_ssl = false

[dev-packages]
pyinstaller = "*"

[packages]
requests = "*"
mechanize = "*"
pysimplegui = "*"

[requires]
python_version = "3.7"
